.container{
    max-width: 1200px;
    margin: 0 auto;    
    padding: 5px;
    font-family: Cambria;
}

.menu {
    height: 30px;
    display: flex;
    justify-content: space-between;    
    border: 2px solid darkgray;
    border-radius: 10px;    
    padding: 10px;    
    margin: 10px;
    background: #9f9fff;
    position: sticky;    
    top: 0;
    left: 0;
    z-index: 3;
}
.genres__inner{
    display: flex;
}
.genre__menu{    
    font-size: 20px;
    line-height: 24px;
    padding: 0px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;    
    text-align: center;
    margin: 0 5px;    
    font-weight: 400;
    color: black;    
    background: lightcyan;
}
.search__inner{
    display: flex;    
}
.search__input{
    font-size: 20px;
    line-height: 24px;
    padding: 5px;
    max-width: 250px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid transparent;
}
.search__btn{
    font-size: 20px;
    line-height: 20px;    
    padding: 5px;
    border: 1px solid darkblue;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    background: darkblue;
    color: #fff;
    font-weight: normal;
    transition: 0.5s all;
}
.search__btn:hover{
    font-weight: bold;
}

.arrow__up,
.arrow__down {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
}

p {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}
ul {
    list-style: none;    
    margin: 0 auto;
    width: 100%;
}
li {
    min-height: 300px;    
    border: 2px solid darkgray;
    border-radius: 10px;
    display: flex;
    padding: 10px;    
    margin: 10px;
    position: relative;
}
.main__content {
    width: 25%;
    margin-bottom: 15px;    
}
h2 {
    font-size: 34px;
    line-height: 38px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img__poster{        
    transition: all 0.5s;
    width: 100%;
}
.img__poster:hover {    
    width: 130%;
    z-index: 10;
}
a {    
    margin-right: 10px;    
    width: 30%;
}
.genres__wrapper{
    display: flex;
    flex-wrap: wrap;    
}
.genre {
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;    
    text-align: center;
    margin: 5px;
    cursor: pointer;    
    font-weight: 400;
    color: black;
    transition: all 0.5s;
    background: #fff;
}
.genre:hover {
    color: darkblue;
    font-weight: 800;    
}
.genre__active {
    background: lightcyan;
}
.sub__content {
    width: 45%;
}
.plot {
    font-size: 24px;   
    line-height: 30px;    
}
.directors__list,
.actors__list {
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.directors__list span,
.actors__list span{
    /* font-weight: normal; */
    color: darkblue;    
}
.close__btn{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;    
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 28px;
    padding: 5px 10px;
    transition: all 0.5s;
    background: #fff;
}
.close__btn:hover{
    background: lightcyan;
}
.search__list-inner{
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    position: fixed;
    top: 5px;        
    left: 5px;
    background: rgba(220, 220, 220, .95);
    border-radius: 10px;
    z-index: 4;
    overflow-y: auto;
    display: none;    
}
.search__movie-list{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;    
}
.short__movie{
    width: 120px;
    height: 220px;
    border: 1px solid lightpink;
    margin: 10px;
    text-align: center;
}
.short__movie-title {
    font-size: 16px;
    color: black;
}
.short__movie-img{
    width: 100%;
}

@media (max-width: 750px) {
    li {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }       
    .main__content{
        margin: 0 auto 15px;
        width: 80%
    }
    .genres__wrapper {
        justify-content: center;        
    }
    a {
        width: 100%;

    }
    .img__poster{
        width: 90%;
        height: auto;            
    }
    .img__poster:hover{
        width: 90%;
        height: auto;            
    }
    .plot {        
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-top: 5px;
    }
    .sub__content {
        width: 100%;
        margin-top: 5px;
    }
}